/* ------------------------------------------------------- */
/* -------------------- BODY AND MAIN -------------------- */
body {
  margin: 0;
}

main {
  padding-top: 60px;
  background-color: #212034;
  padding-bottom: 20px;
}

/* ------------------------------------------------------- */
/* -------------------- TOPBAR HEADER -------------------- */
.topbar {
  background-color: #131227;
  width: 100%;
  display: flex;
  align-items: center; /* Center vertically */
  height: 60px;
  position: fixed;
  justify-content: space-between;
  border-bottom: 1px sold #68669d;
}

/* --- LOGO --- */
#logo {
  float: left;
  padding-right: 60px;
  padding-left: 12px;
}

#logoimg {
  width: 160px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* --- SEARCHBAR --- */
#searchBar {
  display: flex; /* Use flexbox to align divs horizontally */
  justify-content: center; /* Center the divs horizontally within their containers */
}

input[type="search"] {
  width: 640px;
  height: 40px;
  padding: 10px;
  border: 1px solid #68669d;
  border-radius: 5px; /* Rounded corners */
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #68669d;
  background-color: #393751;
}

/* Style the input field when it's focused (clicked or selected) */
input[type="search"]:focus {
  outline: none;
  border-color: #68669d;
  box-shadow: 0 0 5px #ffffff;
}

/* --- NAVIGATION --- */
#navigation {
  float: right;
  width: 232px;
  text-align: right;
}

/* Style the navigation menu */
nav ul {
  list-style-type: none;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding-right: 20px;
}

/* Styling each individual list element */
nav li {
  display: inline;
  margin-left: 30px;
}

li:hover i {
  color: #50f9ab; /* Change icon color on hover */
}

/* Styling the icons inside the list elements */
nav a {
  text-decoration: none;
  color: #aaa6e5;
  font-weight: bold;
}

/* --------------------------------------------------------- */
/* -------------------- FEED NAVIGATION -------------------- */

.feedNav {
  width: 640px;
  height: 40px;
  display: flex;
  justify-content: center;
}

#discoverFeedNav {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #aaa6e5;
}

#tendingFeedNav {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #50f9ab;
}

.navTextDiscover {
  color: #aaa6e5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-left: 8px;
  font-weight: bold;
}

.navTextTrending {
  color: #50f9ab;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-left: 8px;
  font-weight: bold;
}

.iconLinkTrending {
  color: #50f9ab;
}

p {
  padding: 0;
}

#post {
  padding-left: 263px;
}

/* -------------------------------------------------------- */
/* -------------------- TRENDING BLOCK -------------------- */
.trendingBlock {
  width: 250px;
  height: 380px;
  position: fixed;
  background-color: #393751;
  padding: 20px;
  margin-left: 140px;
  border-radius: 10px;
  border: 1px solid #68669d;
}

h2 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #fafafc;
  font-size: 20px;
}

.trendingText {
  font-family: Helvetica, Arial, sans-serif;
  color: #fafafc;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
}

.postAmountTrending{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #fafafc;
    font-size: 10px;
    margin-bottom: 20px;
}

/* -------------------------------------------------------- */
/* -------------------- NEW POST BLOCK -------------------- */
.NewPost {
  background-color: #393751;
  width: 600px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #68669d;
}

/* --- CURRENT ALIAS INPUT FORM --- */
#alias {
  width: 120px;
  padding: 3px;
  margin-bottom: 20px;
  border: 1px solid #68669d;
  border-radius: 5px;
  color: #fafafc;
  background-color: #4b4a67;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

#aliasLabel {
  color: #fafafc;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

#alias:focus {
  outline: none;
  border-color: #68669d;
}

/* --- POST CONTENT INPUT FORM --- */
#postContent {
  width: 580px;
  height: 50px;
  padding: 3px;
  color: #fafafc;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: none;
  resize: none;
}

#postContent::placeholder,
textarea::placeholder {
  color: #68669d;
}

#postContent:focus {
  outline: none;
}

/* --- ACTION BAR ON NEW POST --- */
.actionBarOnPost {
  display: flex;
}

.iconAndText {
  display: flex;
}

.iconText {
  padding-left: 8px;
  padding-right: 30px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.iconLink {
  color: #aaa6e5;
}

p {
  margin: 0;
}

/* --------------------------------------------------------------- */
/* -------------------- INDIVIDUAL POST BLOCK -------------------- */
.IndividualPostBlock {
  background-color: #212034;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 1;
}

.IndividualPost {
  background-color: #393751;
  width: 600px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #68669d;
}

.postTitle {
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.userNameOnPost {
  font-family: Helvetica, Arial, sans-serif;
  color: #686687;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.post-content {
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 12px;
}

/* ------------------------------------------------ */
/* -------------------- FOOTER -------------------- */
footer {
  background-color: #131227;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
